.wc-nav-item {
  margin: 10px 25px;
}
.wc-nav-item a {
  color: #86868b;
  font-size: 0.8em;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.wc-nav-item a:hover {
  color: #06c;
}

.wc-nav-item a:active,
.wc-nav-item.current a {
  color: #000;
}


